#banner {
  & > div {
    display: flex;
    flex-direction: column;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & p {
    padding-top: 10px;
    text-align: center;
    color: whitesmoke;
  }
}

iframe {
  border-radius: 5px;
  margin: 10px;
}
