#banner {
  flex-direction: column;
  justify-content: center;
  align-items: start;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
    height: 370px;
  }

  & p {
    text-align: center;
    padding: 10px;
  }
}

iframe {
  border-radius: 5px;
}
#banner-and-title{
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(../img/simplistic-online-doctor-appointment-in-health-app.gif);
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: 500px;
}
