#quem-somos{
  background-color: #f7f2f2;
    padding: 50px;

    & .container{
  
      & .quem-somos-content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0px;
    }
  
    & h2{
      font-size: 2.18rem;
      color: var(--cor-laranja);
    }
  
    }
  }