@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&family=Roboto:wght@100;400&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(title.css);
@import url(cards.css);
@import url(quem-somos.css);

:root {
  --cor-escura: #1d1f22;
  --cor-cinza: #b3b3b3;
  --cor-azul: #0452bb;
  --cor-verde: #046952;
  --fonte-Roboto: "Roboto", sans-serif;
  --fonte-Raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-Roboto);
  font-size: 16px;
  background-color: #b0c5ff;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}

#Prontuario{
  padding: 10px;
  
  & .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    & h2 {
      font-size: 2.18rem;
      color: var(--cor-azul);
    }

    & .prontuario-content{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & .Prontuario-text{
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
        font-weight: bold;
      }
    }

  }
}
