@import url(header.css);
@import url(banner.css);

:root {
  --cor-escura: #1d1f22;
  --cor-cinza: #b3b3b3;
  --cor-azul: #2a9698;
  --cor-verde: #046952;
  --fonte-Roboto: "Roboto", sans-serif;
  --fonte-Raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-Roboto);
  background-color: var(--cor-escura);
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}

#title {
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    gap: 10px;
    margin-bottom: 0px;
    text-align: center;

    & h1 {
      letter-spacing: 2px;
      line-height: 1.2;
      font-size: 3rem;
      font-family: var(--fonte-Raleway);
      color: var(--cor-azul);
    }

    & p {
      color: var(--cor-cinza);
    }
  }
}

#neura {
  background-image: url(../img/neuralink.webp);
  background-position: 85%;
  background-size: 28%;
  background-repeat: no-repeat;
}
