#title {
    background-image: url(../img/medico.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 350px;
      gap: 10px;
      margin-bottom: 0px;
      text-align: center;
  
      & h1 {
        /* letter-spacing: 2px; */
        line-height: 1.2;
        font-size: 3rem;
        font-family: var(--fonte-Raleway);
        color: var(--cor-azul);
      }
  
    }
  }